<%= javascript_tag do %>
  window.data = '<%= raw File.read(Rails.root.join("lib", "index.json")) %>';
<% end %>

<div class='lunr_search'>
</div>

<div id="search_results">
</div>

<form action="get" id="site_search">
<input style="font-size:20px;" type="text" id="search_box">
<input style="font-size:20px;" type="submit" value="Go!">
</form>
