<% content_for :title do %>
  Create Relationships
<% end %>
<h1> Create New Relationship for <%= @term.id %></h1>
<%= render :partial => "form", locals: { relationship: @relationship, term: @term }  %>
