<%= f.input :id, :wrapper => :vertical_input_group, :label => "ID", :required => true, :hint => 'This ID was system generated, but can be overridden.' do %>
  <span class="input-group-addon"><%= @vocabulary.rdf_subject.to_s %>/</span>
  <%= f.input_field :id, :class => "form-control", :value => @term.term_id.to_s.gsub(/^#{@vocabulary.id}\//,'') %>
  <%= hidden_field_tag 'vocabulary_id', @vocabulary.id %>
<% end %>
