<div>
<h3>Recent changes: </h3>
<% @term.commit_history.each do |commit| %>
  <p><%= commit[:date] %><br>
     <%commit[:diff].each do |triple|%>
    &nbsp;<%=triple%><br>
    <% end %>
    &nbsp; <%= commit[:author] %></p>
<% end %>
</div>
