<h3><%= I18n.t("vocabulary.children_header") %></h3>

<table class="table table-striped">
  <% vocabulary.children.each do |child| %>
    <tr>
      <td><%= link_to child.rdf_label.first, term_path(child.id) %></td>
      <td><span style="font-family: Consolas, Lucida Console, monospace;"><%= link_to child.rdf_subject.to_s, term_path(child.id) %></td>
    </tr>
  <% end %>
</table>
