<h1>Create New Term</h1>

<%= simple_form_for(@term) do |f| %>
  <%= render "form_id", :f => f %>
  <% %w{label comment}.each do |attribute| %>
    <%= render :partial => "vocabularies/form_attribute", :locals => {:vocabulary => @term, :attribute => attribute, :form => f} %>
  <% end %>
  <%= f.button :submit %>
<% end %>
