<% content_for :title do %>
  Create Term
<% end %>

<h1>Create New Term</h1>

<%= simple_form_for(@term, :url => terms_path, :as => :term) do |f| %>
  <%= render "form_id", :f => f %>
  <% @term.editable_fields.each do |attribute| %>
    <%= render :partial => "vocabularies/form_attribute", :locals => {:vocabulary => @term, :attribute => attribute, :form => f} %>
  <% end %>
  <%= f.button :submit %>
<% end %>
