<% content_for :title do %>
  Edit <%= @term.id %>
<% end %>

<h1>Edit</h1>

<%= simple_form_for(@term, :url => update_predicate_path(:id => @term.id)) do |f| %>
  <%= render "terms/edit_form", :f => f, :term => @term %>

  <%= link_to "Deprecate", polymorphic_path([@term], :action => 'deprecate'), :class => 'btn btn-default' %>
<% end %>
