<p>OpaqueNamespace is a linked data service providing access to authority data via persistent URIs for use as predicates and objects in RDF statements. It was originally developed for use in <a href="http://oregondigital.org">Oregon Digital</a>, a digital asset management system built on the <a href="https://projecthydra.org/">Hydra framework</a>. We strive for 5 ★ Open Data as outlined in <a href="http://5stardata.info/en/">Tim Berners-Lee's 5-star deployment scheme for open data</a>. The name was meant to reflect no institutional affiliation in the hope that it might become a resource for others who needed to publish linked open data. Although creation and revision of records is currently limited to Oregon Digital participants, published data can be used by anyone. Entire vocabularies as well as individual authority records can be downloaded in N-Triples or JSON-LD format.</p>

<p>We have sometimes modeled existing vocabularies or XML schema that lack official URIs with our own for use in our applications. Should an official version become available, we are willing to work with the publishers to transition to the new URIs.</p>

<p>OpaqueNamespace is administered jointly by <a href="http://osulibrary.oregonstate.edu">Oregon State University Libraries</a> and the <a href="http://library.uoregon.edu/">University of Oregon Libraries</a> and is powered by the Controlled Vocabulary Manager, a Ruby on Rails application connected to Apache Marmotta. The app and documentation for the <a href="http://github.com/OregonDigital/ControlledVocabularyManager">Controlled Vocabulary Manager is available on GitHub</a> under a GNU general public license.</p>

<p>For more information or questions, contact us at <a href="mailto:dsc@uoregon.edu">dsc@uoregon.edu</a>.</p>

<p>View our <%= link_to "Vocabularies", vocabularies_path %></p>
