<label class="control-label toggle-model-visibility" for="vocabulary_" data-visible-for='<%= TermType.models_having_visible_property(attribute) %>'><%= attribute.to_s.humanize %></label>
<% if form.object.values_for_property(attribute).empty? %>
  <%= render :partial => "vocabularies/form_attribute", :locals => {:vocabulary => vocabulary, :attribute => attribute, :form => form, :value => ""} %>
<% else %>
  <div class="form-group multi-value-field repeating-field">
    <fieldset>
      <ul class="listing">
        <% form.object.values_for_property(attribute).each_with_index do |value, index| %>
          <li class="field-wrapper">
          <%= render :partial => "vocabularies/form_attribute_with_index", :locals => {:vocabulary => vocabulary, :attribute => attribute, :form => form, :value => value, :index => index} %>
          </li>
        <% end %>
      </ul>
    </fieldset>
  </div>
<% end %>
