<% content_for :title do %>
  Vocabularies
<% end %>
<h1>Vocabularies</h1>

<%= link_to "Create Vocabulary", new_vocabulary_path, {:class=>'btn btn-default'} %>

<ul>
  <% @vocabularies.each do |vocabulary| %>
    <li>
      <%= link_to vocabulary.rdf_subject, term_path(:id => vocabulary.id) %>
    </li>
  <% end %>
</ul>
