<% content_for :title do %>
  Vocabularies
<% end %>
<h1>Vocabularies</h1>
<%- if current_user && current_user.admin?  %>
  <%= link_to "Create Vocabulary", new_vocabulary_path, {:class=>'btn btn-default'} %>
<% end %>
<table class="table table-striped">
  <% @vocabularies.each do |vocab| %>
    <tr>
      <td><%= link_to vocab.rdf_label.first, term_path(:id => vocab.id) %></td>
      <td><span class="uri"><%= link_to vocab.rdf_subject, term_path(:id => vocab.id) %></span></td>
      <td>
        <% if vocab.deprecated_vocab? %>
          <span class="label label-warning">Deprecated</span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
