<% content_for :title do %>
  Vocabularies
<% end %>
<h1>Vocabularies</h1>

<%= link_to "Create Vocabulary", new_vocabulary_path, {:class=>'btn btn-default'} %>

<table class="table table-striped">
  <% @vocabularies.each do |vocab| %>
    <tr>
      <td><%= link_to vocab.rdf_label.first, term_path(:id => vocab.id) %></td>
      <td><span style="font-family: Consolas, Lucida Console, monospace;"><%= link_to vocab.rdf_subject, term_path(:id => vocab.id) %></span></td>
    </tr>
  <% end %>
</table>
