body {
  padding-top: 50px;
  margin-bottom: 60px !important;
}

.starter-template {
  padding: 15px;
}


.footer {
  position: fixed;
  height: 60px;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  padding: 15px;
}
