<div class="container" align="center">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="panel panel-primary" id="dashboard">
        <div class="panel panel-heading"> List of Users </div>
        <div class="panel panel-body">
          <%= render :partial => "user" %>
        </div>
      </div>
    </div>
  </div>
</div>
